{% extends 'base.html' %}
{% load static %}

{% block og_image %}
  <meta property="og:image" content="{% static 'assets/img/projects/calamit-logo.webp' %}" />
  <meta property="og:image:width" content="200" />
  <meta property="og:image:height" content="200" />
{% endblock og_image %}

{% block navstatus1 %} active {% endblock navstatus1 %}

{% block content %}

<!-- ======= Hero Section ======= -->
<section class="hero d-flex align-items-center" id="project2-banner">
  <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
      <img src="{% static 'assets/img/projects/calamit-logo.webp' %}" class="img-fluid" alt="">
      <h1>PROJECT 1</h1>
      <h2>Modelling Susceptibility and Generating Rainfall-Threshold for Rainfall-Induced Landslide</h2>
    </div>
</section>
<!-- ======= End Hero Section ======= -->

<main id="main">

  <!-- ======= Partners Section ======= -->
  <section id="partners" class="partners section-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-mb-3 col-3 d-flex justify-content-center" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://www2.upb.edu.ph/"><img src="{% static 'assets/img/partners/upb-logo.webp' %}" class="img-fluid" alt=""></a>
        </div>
        <div class="col-lg-3 col-mb-3 col-3 d-flex justify-content-center" data-aos="zoom-in" data-aos-delay="300">
          <a href="https://car.mgb.gov.ph/"><img src="{% static 'assets/img/partners/mgb-logo.webp' %}" class="img-fluid" alt=""></a>
        </div>
        <div class="col-lg-3 col-mb-3 col-3 d-flex justify-content-center" data-aos="zoom-in" data-aos-delay="400">
          <a href="#"><img src="{% static 'assets/img/partners/blistt-logo.webp' %}" class="img-fluid" alt=""></a>
        </div>
        <div class="col-lg-3 col-mb-3 col-3 d-flex justify-content-center" data-aos="zoom-in" data-aos-delay="500">
          <a href="https://www.dost.gov.ph/"><img src="{% static 'assets/img/partners/dost-logo.webp' %}" class="img-fluid" alt=""></a>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= End Partners Section ======= -->

  <!-- ======= Project Overview Section ======= -->
  <section class="services">
    <div class="container">
      <div class="row">
        <!-- Column 1 Project Overview -->
        <div class="col-lg-6">
          <div class="section-title" data-aos="fade-right">
            <h2>Project Overview</h2>
            <p>One of the most exposed areas to rainfall-induced landslides is the BLISTT area of the Cordillera Administrative Region, which experienced nine out of ten of the country's greatest 24-hour rainfall totals during tropical cyclones.</p>
            <p>In order to address this issue, the MULAT-BLISTT program was conceived  to collect, collate, and systematically organize available landslide data into a database, integrate available landslide data into a Geographic Information System (GIS), identify the influential factors of landslides, generate landslide susceptibility maps, identify rainfall patterns prior to landslide occurrence, document indigenous knowledge associated with landslides, and generate indicative rainfall thresholds for possible use in an early warning system.</p>
            <p>The MULAT-BLISTT, which stands for Modelling and Understanding Landslide Events in BLISTT (Baguio, La Trinidad, Itogon, Sablan, Tuba, Tublay), is a research program funded by the DOST-PCIEERD. The program's objective is to increase disaster resilience in accordance with R.A. 10121, the "Philippine Disaster Risk Reduction and Management Act of 2010," and the UN 2030 Sustainable Development Goal.</p>
          </div>
        </div>
        <!-- End Column 1 Project Name -->

        <!-- Column 2 Project Video -->
        <div class="col-lg-6 d-flex justify-content-end">
          <div class="ratio ratio-16x9" data-aos="zoom-in">
            <iframe src="https://www.youtube.com/embed/sVPYIRF9RCQ" title="YouTube video" allowfullscreen></iframe>
          </div>
        </div>
        <!-- End Column 2 Project Video -->
      </div>
    </div>
  </section>
  <!-- ======= End Project Overview Section ======= -->
  
  <!-- ======= Services Section ======= -->
  <!-- ======= Project Goals Section ======= -->
  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title" data-aos="fade-right">
            <h2>Project Goals</h2>
          </div>
        </div>
      </div>
      <div class="row goals">
        <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="bx bx-receipt"></i></div>
            <h4>Catalogue of rainfall, extreme rainfall, and typhoon occurrence.</h4>
            <p>The catalogue summarizes rainfall, extreme rainfall events, and typhoon occurrences over the past two decades.</p>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="bx bx-receipt"></i></div>
            <h4>Catalogue and Database of Landslide reports.</h4>
            <p>The Catalogue and Database compiles comprehensive landslide reports for analysis and mitigation.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4>Rainfall Threshold for Landslides</h4>
            <p>The rainfall threshold for a landslide can vary depending on factors like soil type and terrain.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon"><i class="bx bx-landscape"></i></div>
            <h4>Landslide Susceptibility, Vulnerability and Risk Maps</h4>
            <p>Landslide susceptibility, vulnerability, and risk maps help assess and mitigate the potential for landslides in a given area.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon"><i class="bx bx-pencil"></i></div>
            <h4>Publication of Journals</h4>
            <p>Journals are regularly published to disseminate the latest research findings and promote academic discourse.</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Project Goals Section -->
  <!-- ======= End Services Section ======= -->

  <!-- ======= Gallery Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title" data-aos="fade-left">
        <h2>Gallery</h2>
        <p></p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-trainings">Trainings</li>
            <li data-filter=".filter-partnership">Partnership</li>
            <li data-filter=".filter-fieldwork">Fieldwork</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-3 col-md-6 portfolio-item filter-partnership">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/gallery/project-1/moa-ltb.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Partnership</h4>
              <p>MOA signing with La Trinidad LGU</p>
              <div class="portfolio-links">
                <a href="{% static 'assets/img/gallery/project-1/moa-ltb.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="MOA signing with La Trinidad LGU"><i class="bx bx-zoom-in"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 portfolio-item filter-partnership">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/gallery/project-1/moa-tublay.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Partnership</h4>
              <p>MOA Signing of MULAT-BLISTT Program and LGU-Tublay on March 22, 2023. (Photo taken by Ms. Janice Bagni, UP Baguio)</p>
              <div class="portfolio-links">
                <a href="{% static 'assets/img/gallery/project-1/moa-tublay.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="MOA Signing of MULAT-BLISTT Program and LGU-Tublay on March 22, 2023."><i class="bx bx-zoom-in"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 portfolio-item filter-fieldwork">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/gallery/project-1/fldw-loakan.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Fieldwork</h4>
              <p>Conducted within BLISTT area by UP-Baguio and MGB-CAR</p>
              <div class="portfolio-links">
                <a href="{% static 'assets/img/gallery/project-1/fldw-loakan.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Landslide Hazard Assessment and Inventory Conducted in Loakan, Baguio City together with the Barangay Officials."><i class="bx bx-zoom-in"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 portfolio-item filter-fieldwork">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/gallery/project-1/fldw-sto.tomas.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Fieldwork</h4>
              <p>Conducted within BLISTT area by UP-Baguio and MGB-CAR</p>
              <div class="portfolio-links">
                <a href="{% static 'assets/img/gallery/project-1/fldw-sto.tomas.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Landslide Hazard Assessment and Inventory Conducted in Sto. Tomas Balacbac, Baguio City together with the Barangay Officials."><i class="bx bx-zoom-in"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 portfolio-item filter-fieldwork">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/gallery/project-1/fldw-cmp7.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Fieldwork</h4>
              <p>Conducted within BLISTT area by UP-Baguio and MGB-CAR</p>
              <div class="portfolio-links">
                <a href="{% static 'assets/img/gallery/project-1/fldw-cmp7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Landslide Hazard Assessment and Inventory Conducted in Camp 7, Baguio City together with the Barangay Officials."><i class="bx bx-zoom-in"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 portfolio-item filter-fieldwork">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/gallery/project-1/fldw-pico.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Fieldwork</h4>
              <p>Conducted within BLISTT area by UP-Baguio and MGB-CAR</p>
              <div class="portfolio-links">
                <a href="{% static 'assets/img/gallery/project-1/fldw-pico.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Landslide Hazard Assessment and Inventory Conducted in Pico, Municipality of La Trinidad together with the Barangay Officials."><i class="bx bx-zoom-in"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 portfolio-item filter-fieldwork">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/gallery/project-1/fldw-lubas.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Fieldwork</h4>
              <p>Conducted within BLISTT area by UP-Baguio and MGB-CAR</p>
              <div class="portfolio-links">
                <a href="{% static 'assets/img/gallery/project-1/fldw-lubas.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Landslide Hazard Assessment and Inventory Conducted in Lubas, Municipality of La Trinidad together with the Barangay Officials."><i class="bx bx-zoom-in"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 portfolio-item filter-fieldwork">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/gallery/project-1/fldw-ampucao1.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Fieldwork</h4>
              <p>Conducted within BLISTT area by UP-Baguio and MGB-CAR</p>
              <div class="portfolio-links">
                <a href="{% static 'assets/img/gallery/project-1/fldw-ampucao.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Landslide Hazard Assessment and Inventory Conducted in Barangay Ampucao, Itogon, Benguet."><i class="bx bx-zoom-in"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 portfolio-item filter-fieldwork">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/gallery/project-1/fldw-ampucao2b.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Fieldwork</h4>
              <p>Conducted within BLISTT area by UP-Baguio and MGB-CAR</p>
              <div class="portfolio-links">
                <a href="{% static 'assets/img/gallery/project-1/fldw-ampucao2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Landslide Hazard Assessment and Inventory Conducted in Barangay Ampucao, Itogon, Benguet."><i class="bx bx-zoom-in"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 portfolio-item filter-fieldwork">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/gallery/project-1/fldw-ampucao3b.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Fieldwork</h4>
              <p>Conducted within BLISTT area by UP-Baguio and MGB-CAR</p>
              <div class="portfolio-links">
                <a href="{% static 'assets/img/gallery/project-1/fldw-ampucao3.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Landslide Hazard Assessment and Inventory Conducted in Barangay Ampucao, Itogon, Benguet."><i class="bx bx-zoom-in"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 portfolio-item filter-fieldwork">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/gallery/project-1/fldw-sablan.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Fieldwork</h4>
              <p>Conducted within BLISTT area by UP-Baguio and MGB-CAR</p>
              <div class="portfolio-links">
                <a href="{% static 'assets/img/gallery/project-1/fldw-sablan.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Landslide site assessment in Sablan, Benguet"><i class="bx bx-zoom-in"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 portfolio-item filter-fieldwork">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/gallery/project-1/fldw-tuba.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Fieldwork</h4>
              <p>Conducted within BLISTT area by UP-Baguio and MGB-CAR</p>
              <div class="portfolio-links">
                <a href="{% static 'assets/img/gallery/project-1/fldw-tuba.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Landslide site assessment in Tuba, Benguet"><i class="bx bx-zoom-in"></i></a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-6 portfolio-item filter-fieldwork">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/gallery/project-1/fldw-tublay.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Fieldwork</h4>
              <p>Conducted within BLISTT area by UP-Baguio and MGB-CAR</p>
              <div class="portfolio-links">
                <a href="{% static 'assets/img/gallery/project-1/fldw-tublay.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Landslide site assessment in Tublay, Benguet"><i class="bx bx-zoom-in"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 portfolio-item filter-trainings">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/gallery/project-1/train-1.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Trainings</h4>
              <p>Introduction to Artificial Intelligence and Basic GIS and Remote Sensing</p>
              <div class="portfolio-links">
                <a href="{% static 'assets/img/gallery/project-1/train-1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Three-day Training Series with DOST-ASTI on “Introduction to Artificial Intelligence and Basic GIS and Remote Sensing” at the GIS Lab, University of the Cordilleras Legarda Campus on November 24-26, 2022. (Photo taken by University of the Cordilleras)"><i class="bx bx-zoom-in"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 portfolio-item filter-trainings">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/gallery/project-1/train-2.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Trainings</h4>
              <p>Introduction to Artificial Intelligence and Basic GIS and Remote Sensing</p>
              <div class="portfolio-links">
                <a href="{% static 'assets/img/gallery/project-1/train-2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Basic Image Acquisition and Processing using UAVs training series on February 9-11, 2023. Flight simulation activity at Strawberry Farm."><i class="bx bx-zoom-in"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 portfolio-item filter-trainings">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/gallery/project-1/train-2b.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Trainings</h4>
              <p>Introduction to Artificial Intelligence and Basic GIS and Remote Sensing</p>
              <div class="portfolio-links">
                <a href="{% static 'assets/img/gallery/project-1/train-2b.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Basic Image Acquisition and Processing using UAVs training series on February 9-11, 2023. Lecture and image processing activity at UP Baguio."><i class="bx bx-zoom-in"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 portfolio-item filter-partnership">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/gallery/project-1/ps-sablan.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Partnership</h4>
              <p>MOA Signing with LGU-Sablan on December 22, 2022.</p>
              <div class="portfolio-links">
                <a href="{% static 'assets/img/gallery/project-1/ps-sablan.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="MOA Signing with LGU-Sablan on December 22, 2022. (Photo taken by UP Baguio)."><i class="bx bx-zoom-in"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 portfolio-item filter-partnership">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/gallery/project-1/ps-itogon.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Partnership</h4>
              <p>MOA Signing with LGU-Itogon on January 5, 2023.</p>
              <div class="portfolio-links">
                <a href="{% static 'assets/img/gallery/project-1/ps-itogon.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="MOA Signing with LGU-Itogon on January 5, 2023. (Photo taken by UP Baguio)."><i class="bx bx-zoom-in"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 portfolio-item filter-partnership">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/gallery/project-1/ps-tuba.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Partnership</h4>
              <p>MOA Signing with LGU-Tuba, Benguet on March 9, 2023.</p>
              <div class="portfolio-links">
                <a href="{% static 'assets/img/gallery/project-1/ps-tuba.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="MOA Signing with LGU-Tuba, Benguet on March 9, 2023. (Photo taken by UP Baguio)."><i class="bx bx-zoom-in"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 portfolio-item filter-partnership">
          <div class="portfolio-wrap">
            <img src="{% static 'assets/img/gallery/project-1/ps-baguio.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Partnership</h4>
              <p>MOA Signing with LGU-Baguio City, Benguet on February 10, 2023.</p>
              <div class="portfolio-links">
                <a href="{% static 'assets/img/gallery/project-1/ps-baguio.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="MOA Signing with LGU-Baguio City, Benguet on February 10, 2023. (Photo taken by UP Baguio)."><i class="bx bx-zoom-in"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ======= End Gallery Section ======= -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <h2>Team</h2>
            <p></p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="row">

            <div class="col-lg-4 mb-4">
              <div class="member" data-aos="zoom-in" data-aos-delay="100">
                <div class="pic"><img src="{% static 'assets/img/team/team1.jpg' %}" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Dr. Dymphna Javier</h4>
                  <span>Project Leader</span>
                  <p>University of the Philippines - Baguio</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-4">
              <div class="member" data-aos="zoom-in" data-aos-delay="100">
                <div class="pic"><img src="{% static 'assets/img/team/fa.webp' %}" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Fay W. Apil</h4>
                  <span>Regional Director / Project Staff Level III</span>
                  <p>MGB-CAR</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-4">
              <div class="member" data-aos="zoom-in" data-aos-delay="200">
                <div class="pic"><img src="{% static 'assets/img/team/project-1/benigno.jpg' %}" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Benigno Cesar L. Espejo</h4>
                  <span>Chief Geologist / Project Staff Level II</span>
                  <p>MGB-CAR</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-4">
              <div class="member" data-aos="zoom-in" data-aos-delay="300">
                <div class="pic"><img src="{% static 'assets/img/team/project-1/kelvin.jpg' %}" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Kelvin Carlo S. Gaerlan</h4>
                  <span>Supervising Geologist / Project Staff Level II</span>
                  <p>MGB-CAR</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-4">
              <div class="member" data-aos="zoom-in" data-aos-delay="400">
                <div class="pic"><img src="{% static 'assets/img/team/project-1/jethro.jpg' %}" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Jethro C. Panganiban</h4>
                  <span>Geologist II / Project Staff Level II</span>
                  <p>MGB-CAR</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-4">
              <div class="member" data-aos="zoom-in" data-aos-delay="400">
                <div class="pic"><img src="{% static 'assets/img/team/project-1/grail.jpg' %}" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Grail A. Baldas</h4>
                  <span>Science Research Specialist II</span>
                  <p>MGB-CAR</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-4">
              <div class="member" data-aos="zoom-in" data-aos-delay="400">
                <div class="pic"><img src="{% static 'assets/img/team/project-1/frenz.jpg' %}" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Frenz Aivereen A. Flores</h4>
                  <span>Science Research Specialist I</span>
                  <p>MGB-CAR</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-4">
              <div class="member" data-aos="zoom-in" data-aos-delay="400">
                <div class="pic"><img src="{% static 'assets/img/team/project-1/vince.jpg' %}" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Vince Paolo F. Obille</h4>
                  <span>Project Technical Assistant II</span>
                  <p>MGB-CAR</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-4">
              <div class="member" data-aos="zoom-in" data-aos-delay="400">
                <div class="pic"><img src="{% static 'assets/img/team/project-1/claire.jpg' %}" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Claire G. Ramirez</h4>
                  <span>Project Technical Assistant II</span>
                  <p>MGB-CAR</p>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </section><!-- End Team Section -->

</main><!-- End #main -->

{% endblock content %}