
<div class="modal-header">
    <h5 class="modal-title">Add Threshold testing</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
{% if form.non_field_errors %}
    <div class="alert alert-danger col-md-4" role="alert">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    </div>
{% endif %}

<form class="row g-3" method="post" novalidate>
    {% csrf_token %}
    <div class="col-md-4">
    {% for field in form %}
        <div class="mb-1">
            <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
            {{ field }}
            {% for error in field.errors %}
            <div class="invalid-feedback">
                    {{ error }}
            </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>